#iro
{
	border:solid;
	margin-top:4em;
	border-width:.9em;
	text-align:center;
	margin-left:9em;
	margin-right:11em;
	border-color:black;
	background-color:red;
	font-style:italic;
	font-weight:bold;
	font-size:22px;
	color:lightblue;
	}